{% load static %}
<!DOCTYPE html>
{% include "post/header.html" %}


<html>

<link rel="stylesheet" type="text/css" href="{% static 'chat/chatwindow.css' %}">

<body class="center">
    <textarea id="chat-log" cols="100" rows="20" readonly></textarea><br />
    <input id="chat-message-input" type="text" size="100" /><br />
    <input class="butt" id="chat-message-submit" type="button" value="Send"><br />
</body>

<script>
    //set roomName. passed in from view
    var roomName = "{{ room_name }}";

    // create a chatSocket. ws means websocket.
    // window.location.host is whatever is in the url
    var chatSocket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/chat/' + roomName + '/');

    //output received message to log
    chatSocket.onmessage = function (e) {
        var data = JSON.parse(e.data);
        var message = data['message'];
        document.getElementById('chat-log').value += (message + '\n');
    };

    chatSocket.onclose = function (e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.getElementById('chat-message-input').focus();
    document.getElementById('chat-message-input').onkeyup = function (e) {
        if (e.keyCode === 13) { // enter, return
            document.getElementById('chat-message-submit').click();
        }
    };

    // do something when submit button is clicked
    document.getElementById('chat-message-submit').onclick = function (e) {
        var messageInputDom = document.getElementById('chat-message-input');
        var message = messageInputDom.value;
        // send using chatSocket as JSON string
        chatSocket.send(JSON.stringify({
            'message': message
        }));

        messageInputDom.value = '';
    };
</script>

</html>