{% load static %}
<img src="{% static 'photo/banner.jpg' %}">

<ul id="buttons">
    <li><a class="btn" href="../account/logout"> Logout </a></li>
    <li><a class="btn" href="./listAllProduct"> view listed products + add to cart </a></li>
    <li><a class="btn" href="./uploadProduct"> Upload an item </a></li>
    <li><a class="btn" href="./myProduct"> view MY uploads + modify listings</a></li>
    <li><a class="btn" href="./myCart">view MY cart + checkout </a></li>
    <li><a class="btn" href="./purchaseHistory"> view MY order history </a></li>
</ul>


