{% load static %}
<html>
<link rel="stylesheet" type="text/css" href="{% static 'post/heading.css' %}">
<link rel="shortcut icon" type="image/png" href="{% static 'photo/bean.png' %}">

<img class="center" src="{% static 'photo/whole-beans.png' %}">


<div class="buttons">
    <a class="btn" href=" {% url 'post' %}"> home </a>
    <a class="btn" href=" {% url 'uploadProduct'%} "> make a listing </a>
    <a class="btn" href=" {% url 'listmyListings'%}"> my listings </a>
    <a class="btn" href="{% url 'listMyCart' %}"> shopping cart </a>
    <a class="btn" href=" {% url 'listOrderHistory' %}"> order history </a>
    <a class="btn" href="{% url 'index' %}"> chat </a>
    <a class="btn" href=" {% url 'logout' %}" style="float: right"> logout </a>
</div>