{% load static %}
<html>
<link rel="stylesheet" type="text/css" href="{% static 'post/heading.css' %}">

<img class="center" src="{% static 'photo/whole-beans.png' %}">


<div class="buttons">
    <a class="btn" href=" {% url 'post' %}"> Home </a>
    <a class="btn" href=" {% url 'uploadProduct'%} "> Post </a>
    <a class="btn" href=" {% url 'listmyListings'%}"> My listings </a>
    <a class="btn" href="{% url 'listMyCart' %}"> Cart </a>
    <a class="btn" href=" {% url 'listOrderHistory' %}"> Order history </a>
    <a class="btn" href="{% url 'index' %}"> Chat </a>
    <a class="btn" href=" {% url 'logout' %}" style="float: right"> Logout </a>
</div>