<ul id="buttons">
    <li><a class="btn" href="../account/logout"> Logout </a></li>
    <li><a class="btn" href="./listAllProduct"> view listed products only </a></li>
    <li><a class="btn" href="./uploadProduct">My Cart </a></li> <!-- implementing cart right now... -->
    <li><a class="btn" href="./myProduct"> view MY uploads </a></li>
</ul>

<h1>All products</h1>
<hr>
{% for p in all_products %}
    <p>
        {{ p.name }} <br />
        {{ p.description }} <br />
        {{ p.inventoryCount }}
    </p>
    <hr>
{% endfor %}