{% load static %}
<!DOCTYPE html>
{% include "post/header.html" %}

<link rel="stylesheet" type="text/css" href="{% static 'post/listing.css' %}">

<div class="modify">
    <h1> Update Listing Info 📝</h1>

    <h2> Modify Listing </h2>
    <form action="" method="post">
        {% csrf_token %}
        Product ID that you want to update: <input type="text" name="productID" /> <br>
        New Product name: <input type="text" name="productName" /><br>
        New Description: <input type="text" name="productDescription" /><br>
        New Stock: <input type="text" name="productStock" /><br>
        New Price: <input type="text" name="productPrice" /><br>
        <input class="button" type="submit" value="Update Listing info">
    </form>
    {% if updateSuccess %}
    <p> <b>Change has been reflected! </b> </p>
    {% endif %}

    <h2> Delete Listing </h2>
    <form action="" method="post">
        {% csrf_token %}
        product ID that you want to delete: <input type="text" name="productIDDelete" /> <br>
        <input class="button" type="submit" value="Delete this product">
    </form>
    {% if deleteSuccess %}
    <p><b> Product has been deleted. </b></p>
    {% endif %}
</div>

<h1>My listings</h1>

<hr>
{% for p in my_products %}
<p>
    id: {{ p.id }} <br />
    Product: {{ p.name }} <br />
    Description: {{ p.description }} <br />
    Stock: {{ p.inventoryCount }} <br />
    Price: {{ p.price }} <br />
    <img src="{{  p.image.url }}" alt="picture of {{ p.name }}" /> <br />

</p>
<hr>
{% endfor %}