{% load static %}
<!DOCTYPE html>
{% include "post/header.html" %}

<link rel="stylesheet" type="text/css" href="{% static 'post/history.css' %}">

<div class="center">
<h1> My order history 📜 </h1>

{% if not history %}
<br>
<br>
Add to cart and checkout first!
{% endif %}

{% if history%}
{% for h in history %}
<hr>
<p>
    Date purchased: {{ h.time }} <br>
    Purchased from: {{ h.owner }} <br>
    Product name: {{ h.productName }} <br>
    Product description: {{ h.productDescription }} <br>
    Units purchased: {{ h.quantity }} <br>
    Price per unit: {{ h.productPrice }} <br>
    Total: {{ h.total }} <br>
    Shipping address: {{ h.address }} <br>
</p>

{% endfor %}

{% endif %}
</div>