<!--this is a django template. its path is relative to the templates folder -->
<!-- { % is a template tag that django understands -->
{% if question_text %}
    <!-- here the "question_text" comes from the dictionary passed in when calling render() in views -->
    <!-- will evaluate to true if question_text exists in the context dictionary and is not-empty -->
    <!-- { { will automatically escape the input for us  -->
  Added {{ question_text }}
{% endif %}

<!-- we submit the form to the same view because the action is empty. use POST request -->
<!-- if it was GET request, it would be part of the query sting in the url -->
<form action="" method="post">
  {% csrf_token %}  <!-- something that must be placed inside post requests. prevents csrf attacks-->
  Question: <input type="text" name="question" />  <!-- the name 'question' matches the [question] in views-->
  <input type="submit" />
</form>
