@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.center {
    position: relative;
    margin: 0 auto 50px;
    padding: 45px;
    text-align: center;
    display: block;
    margin: 0 auto;
}

/* Add a black background color to the top navigation */
.buttons {
    background-color: rgb(153, 120, 72);
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.buttons a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.buttons a:hover {
    background-color: rgb(165, 144, 113);
    color: black;
}

body {
    background: #7ebccf;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(right, #7ebccf, rgb(115, 202, 137));
    background: -moz-linear-gradient(right, #7ebccf, rgb(115, 202, 137));
    background: -o-linear-gradient(right, #7ebccf, rgb(115, 202, 137));
    background: linear-gradient(to left, #7ebccf, rgb(115, 202, 137));
    font-family: "Roboto", sans-serif;
    /* -webkit-font-smoothing: antialiased; */
    -moz-osx-font-smoothing: grayscale;
}

/* Add a color to the active/current link */
/* .buttons a.active {
    background-color: rgb(123, 180, 85);
    color: white;
  } */