{% load static %}
<!doctype html>

<html>
<link rel="stylesheet" type="text/css" href="{% static 'account/loginout.css' %}">
<link rel="shortcut icon" type="image/png" href="{% static 'photo/bean.png' %}">

<img class="center" src="{% static 'photo/whole-beans.png' %}">

<div class="loginout-page">
  <div class="form">

    <form class="register-form" action="" method="post">
      {% csrf_token %}
      <!-- username -->
      <input type="text" name="username" placeholder="username" value="{{form.data.username}}" />
      {{ form.username.errors }}
      <!-- email -->
      <input type="text" name="email" placeholder="email address" value="{{form.data.email}}" />
      {{ form.email.errors }}
      <!-- password -->
      <input type="password" name="password" placeholder="password" />
      {{ form.password.errors }}
      <input type="password" name="password_confirm" placeholder="confirm password" />
      {{ form.password_confirm.errors }}

      <!-- create button -->
      <button type="submit" value="Create">create</button>
      <p class="message">Already registered? <a href="./login">Sign In</a></p>
    </form>
  </div>
</div>

</html>

